<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>



<p>
  <strong>User Account Name:</strong>
  <%= render(AccountComponent.new(name: "#{@post.title}")) %>
</p>

<p>
  <strong>User Account subdomain:</strong>
  <%= render(AccountComponent.new(subdomain: "#{@post.body}")) %>
</p>

<p>
  <strong>User Account Name with subdomain:</strong>
  <%= render(AccountComponent.new(name: "#{@post.title}",subdomain: "#{@post.body}")) do |acc| %>
    <%= acc.get_name_subdomain %>
  <% end %>
</p>

<p>
  <strong>User Apppointment Title:</strong>
  <%= render(AppointmentslimComponent.new(title: "#{@post.title}",content: "#{@post.body}")) %>
</p>
<% TEAM['members'].each do |member| %>
  <div>
    <h3><%= member['name'] %></h3>
    <h4><%= member['title'] %></h4>
    <hr />
  </div>
<% end %>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
